@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.react-calendar {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.react-calendar__navigation {
  background-color: #ffffff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-weight: 700;
}

.react-calendar__month-view__days__day {
  padding: 15px 7px;
}

abbr {
  text-decoration: none;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__month-view__days__day {
  background-color: #000000;
}
